/*@import url(https://fonts.googleapis.com/css?family=Quattrocento:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic);*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Playfair+Display:400,700,400italic,700italic|Lekton);

body {
    background-color: #1d1c22;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: white;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 48pt;
    font-weight: 700;
    color: white;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36pt;
    /*font-style: italic;*/
    font-weight: 400;
    color: #7AA229;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}


a.svg {
    position: relative;
    display: inline-block;
}

    a.svg:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }


#footer {
    background-color: white;
    color: black;
}

#containergithub{
     background-color:black;
}

#containerworker{
    background-color:white;
    color: black;    
}

    #containerworker p {
        color:black;
    }

#containerintro{
    background-color:black;
    padding-top: 50px;
    padding-bottom: 50px;
}

#containerfooter{
    background-color:#7AA229;
}

.centered60pc {
    width: 60%;
    margin: 0 auto 0 auto;
}

.centered70pc {
    width: 70%;
    margin: 0 auto 0 auto;
}

.footerinfo {
    font-family: 'Lekton', monospace;
    color:white;
}

.genericcontainer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.halfadiv {
    width: 50%;
    float: left;
}

.resulttable{
    font-family: 'Lekton', monospace;
    color:black;
    border-collapse: collapse;
    border-color:#1d1c22;
    border-width:1px;
}

.resulttable td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}